WindowsFormsCategoria/Connected Services/SVC_Categorias/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55208/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55208/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55208/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceCategoria" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:getCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_getCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CriarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_CriarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCategoria" message="tns:IService1_getCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCategoriaResponse" message="tns:IService1_getCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditCategoria" message="tns:IService1_EditCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditCategoriaResponse" message="tns:IService1_EditCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCategoria" message="tns:IService1_DeleteCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCategoriaResponse" message="tns:IService1_DeleteCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CriarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CriarCategoria" message="tns:IService1_CriarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CriarCategoriaResponse" message="tns:IService1_CriarCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/getCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/EditCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CriarCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/CriarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:55208/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>